  <div id="posts">

    <h1>Posts</h1>
    <hr>

    <% unless @posts.empty? %>

    <ul>
      <% @posts.each do |post| %>

        <%= link_to post_path(post.id) do %>
          <li><p>
            <span id='index_title'><%= post.title %></span>
            <% author = username(post) %>
            <span id='index_author'><%= link_to '@' + author, twit_link(author), target: '_blank' %></span>

            <ul>
              <li><span id='index_responses'><%= post.responses.count %> responses</span></li>
              <li><span id='index_responses'>Time left in hours: <%= post.time_left %></span></li>
              <li><span id='index_responses'>Status: 
                <% unless post.tweet_success %>
                  Open
                <% else %>
                  Closed
                <% end %>
                </span></li>
            </ul>

          </p></li>
        <% end %>

      <% end %>
    </ul>

    <% else %>
      <p>There are no posts to display.</p>
    <% end %>

    <hr>
  </div>
