<div class="container">
  <header>
    <h1>Brickbat</h1>
    <nav>
    </nav>
  </header>

  <h3><%= @post.title %></h3>
  <p><%= @post.body %></p>

  <%= form_for @response, url: responses_path do |f| %>
    <%= f.text_area :body %>
    <%= hidden_field_tag :post_id, "#{@post.id}" %>

    <%= f.submit "Submit" %>
  <% end %>

  <% if @post %>
  <!-- sorting algorithm for responses to a post -->
    <% @post.responses.each do |response| %>
      <p> 
        <%= form_for response, url: posts_vote_path, method: :post do |f| %>
          <%= hidden_field_tag :response_id, "#{response.id}" %>
          <%= f.submit "Up" %>
        <% end %>

        <%= form_for response, url: posts_vote_path, method: :post do |f| %>
          <%= hidden_field_tag :response_id, "#{response.id}" %>
          <%= f.submit "Down" %>
        <% end %> 

       <span class="response_votes"> <%= response.votes %></span> <span class="response_body"><%= response.body %></span>
      </p>
    <% end %>
  <% else %>
    <p>There are no responses yet.</p>
  <% end %>
</div>

<!-- add table to verify if a user has voted on a response -->


