<div id='show_post'>
  <h1><%= @post.title %></h1>
  <hr>
    <% author = username(@post) %>

  <p id="show_post_body"><%= @post.body %> <span id='index_author'><%= link_to '@' + author, twit_link(author), target: '_blank' %><br/><%="Time left in hours: #{@post.time_left}"%><br/><%="#{@post.responses.count} responses"%><br/>Status: 
                <% unless @post.tweet_success %>
                  Open
                <% else %>
                  Closed
                <% end %>
                </span></p>
  <hr>

  <div id="new_response">
    <% if session[:user_id]%>
      <% unless @post.tweet_success %>
        <p id='post_response_link'><%= link_to  'Post a Response', new_post_response_path(@post.id), remote: true %></p>
      <% end %>
    <% else %>
      <div id="nonuser">
        <p><%=link_to "Login with Twitter", "/auth/twitter" %> to respond.</p>
      </div>
    <% end %>
  </div>

  <% unless @sorted_responses.empty? %>

    <% @sorted_responses.each do |response| %>
    
      <% @response = response %>
      <%= render partial: 'layouts/response', locals: { response: @response } %>

    <% end %>
  
  <% else %>
    <p>There are no responses yet.</p>
  <% end %>

</div>
