<div id='show_post'>
  <h1><%= @post.title %></h1>
  <hr>
  <p id="show_post_body"><%= @post.body %> <span id="poster">@postdude</span></p>
  <hr>


  <% if session[:user_id] %>
  <%= form_for @response, url: post_responses_path(@post.id) do |f| %>
  <p>Submit a new response</p>

  <div><%= f.text_field :body %></div>
  <%= hidden_field_tag :post_id, "#{@post.id}" %>
  <div><%= f.submit "Submit new Response" %></div>
  <% end %>
  <% else %>
  <div id="nonuser">
    Please <%=link_to "Login with Twitter", "/auth/twitter" %> to respond to posts.
  </div><% end %>


  <% if @post %>
  <!-- sorting algorithm for responses to a post -->
    <% @post.responses.each do |response| %>
      <p> 
        <%= form_for response, url: posts_vote_path, method: :post do |f| %>
          <%= hidden_field_tag :response_id, "#{response.id}" %>
          <%= f.submit "Up" %>
        <% end %>

        <%= form_for response, url: posts_vote_path, method: :post do |f| %>
          <%= hidden_field_tag :response_id, "#{response.id}" %>
          <%= f.submit "Down" %>
        <% end %> 

        <div class="post_responses">
          <span class="response_votes"><%= response.votes %></span> 
          <span class="response_body"><%= response.body %></span>
          <span class="response_author">@duder</span>
        </div>
      </p>

    <% end %>

  <% else %>
    <p>There are no responses yet.</p>
  <% end %>
</div>

<!-- add table to verify if a user has voted on a response -->
