<div id='show_post'>
  <h1><%= @post.title %></h1>
  <hr>
  <p id="show_post_body"><%= @post.body %> <span id="poster">@<%= @post.user.username %></span></p>
  <hr>

  <div id="new_response">
    <% if session[:user_id] %>
    <p id='post_response_link'><%= link_to  'Post a Response', new_post_response_path(@post.id), remote: true %></p>
    <% else %>
    <div id="nonuser">
      Please <%=link_to "Login with Twitter", "/auth/twitter" %> to respond to posts.
    </div>
    <% end %>
  </div>


  <% if @post %>
  <!-- sorted responses go in here -->
  <%= render 'layouts/responses' %>
  
  <% else %>
  <p>There are no responses yet.</p>
  <% end %>
</div>
