        <% v = Vote.where(user_id: session[:user_id], response_id: @response.id).first %>

        <% if ((v && v.vote == "Down") && v.vote != "Up") || (Vote.where(user_id: session[:user_id], response_id: @response.id, vote: "Down").empty? && v == nil) %>
          <%= form_for @response, url: posts_vote_path, method: :post do |f| %>
            <%= hidden_field_tag :response_id, "#{@response.id}" %>
            <%= f.submit "Up" %>
          <% end %>
        <% end %>
        
        <% if ((v && v.vote == "Up") && v.vote != "Down") || (Vote.where(user_id: session[:user_id], response_id: @response.id, vote: "Up").empty? && v == nil) %>
          <%= form_for @response, url: posts_vote_path, method: :post do |f| %>
            <%= hidden_field_tag :response_id, "#{@response.id}" %>
            <%= f.submit "Down" %>
          <% end %>
        <% end %> 

        <% if v %>
          <%= form_for response, url: posts_vote_path, method: :post do |f| %>
              <%= hidden_field_tag :response_id, "#{@response.id}" %>
              <%= hidden_field_tag :previous_vote, "#{v.vote}" %>
              <%= f.submit "Clear" %>
          <% end %>
        <% end %>

        <div class="post_responses">
          <span class="response_votes"><%= @response.votes_count %></span> 
          <span class="response_body"><%= @response.body %></span>

            <% author = username(@response.post) %>
            <span class='response_author'><%= link_to '@' + author, twit_link(author), target: '_blank' %></span>
        </div>
