// this is messy. move all that logic out of the view.
<%vote = Vote.where(user_id: current_user.id, response_id: @response.id).first%>
<%if vote && vote.vote == "Up"%>
  <%up = "vote up_vote clicked"%>
  <%uclick = "uclick"%>
  <%up_img = "up_clicked.png"%>
<%else%>
  <%up = "vote up_vote"%>
  <%uclick = ""%>
  <%up_img = "up.png"%>
<%end%>

<%if vote && vote.down?%>
  <%down = "vote down_vote clicked"%>
  <%dclick = "dclick"%>
  <%down_img = "down_clicked.png"%>
<%else%>
  <%down = "vote down_vote"%>
  <%dclick = ""%>
  <%down_img = "down.png"%>
<%end%>


<div class="post_responses">

  <%= link_to image_tag("#{up_img}"), votes_path(response_id: @response.id, vote: 'Up'), method: :post, remote: true, class: "#{up}" %>
  <%= link_to image_tag("#{down_img}"), votes_path(response_id: @response.id, vote: 'Down'), method: :post, remote: true, class: "#{down}" %>

  <span class="response_votes"><%= @response.vote_total %></span>
  <span class="response_body"><%= @response.body %></span>
  <% author = username(@response.post) %>
  <span class='response_author'><%= link_to '@' + author, twit_link(author), target: '_blank' %></span>
</div>
