<!DOCTYPE html>
<html>
<head>
	<title>Brickbat</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>






	<%= csrf_meta_tags %>
</head>
<body>

	<header>
		
	<%= render 'layouts/navbar' %>
	</header>

	<div class='container'>
		<%= yield %>
	</div>

</body>
</html>
